$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "https://ardhichoiruddin.github.io/iband-template/template-1/icomoon/fonts" !default;

$icon-audiomack: "\e900";
$icon-call: "\e901";
$icon-amazon: "\e902";
$icon-deezer: "\e903";
$icon-link: "\e904";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-tone: "\e907";
$icon-apple-music: "\e908";
$icon-napster: "\e909";
$icon-pandora: "\e90a";
$icon-patreon: "\e90b";
$icon-paypal: "\e90c";
$icon-shazam: "\e90d";
$icon-snapchat: "\e90e";
$icon-soundcloud: "\e90f";
$icon-spotify: "\e910";
$icon-tidal: "\e911";
$icon-tiktok: "\e912";
$icon-twitter: "\e913";
$icon-vk: "\e914";
$icon-youtube-music: "\e915";
$icon-youtube: "\e916";
$icon-itunes: "\e917";
$icon-joox: "\e918";
$icon-play: "\e919";
$icon-resso: "\e91a";
$icon-whatsapp: "\e91b";

